body {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(251, 253, 240);
}

header {
    text-transform: uppercase;
    font-size: 20px;
    background-color: lightgray;
    color: rgb(23, 21, 21);
    text-align: center;
}

nav {
    height: 23px;
    background-color: rgb(121, 203, 247);
    color: blue;

}

footer {
    font-size: 22px;
    background-color: rgba(128, 128, 128, 0.867);
    color: black;
}

h2{
    font-size: 24px;
}